*.aux
*.swp
*.bcf
*.run.xml
*.log
*.out
*.toc
*.bbl
*.blg
*.bak
*.tdo
auto
CanDetector/master.pdf
SemiconductorDetector/report_semiconductor_detector.pdf
*.synctex.gz
**/.DS_Store
*~
.*~
*.pyc
__pycache__/
